body{
background:#111;
color:white;
font-family:Arial;
padding:20px;
}

input,textarea{
width:100%;
margin:5px 0;
padding:8px;
}

button{
background:#f5a400;
border:none;
padding:10px;
cursor:pointer;
}

.card{
background:#1c1c1c;
padding:15px;
margin-top:10px;
border-radius:10px;
}
